.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.heading {
  display: block;
  width: 700px;
  margin-top: 0px;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #22262f;
  color: transparent;
}

.body {
  height: 100%;
}

.text-span {
  color: #a8dadc;
}

.div-block-2 {
  display: block;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 50px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #22262f;
  opacity: 1;
  color: #22262f;
}

.navigation.homepage {
  padding-right: 50px;
  padding-left: 50px;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.navigation-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-item {
  padding: 5px 15px;
  background-color: transparent;
  opacity: 1;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
  color: #a8dadc;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  padding-right: 15px;
  padding-left: 15px;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph {
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
}

.image {
  height: 30px;
}

.section-2 {
  margin-top: 70px;
  margin-bottom: 40px;
  padding-top: 70px;
  padding-left: 20px;
  background-color: #fff;
}

.heading-2 {
  margin-top: 0px;
  padding-left: 55px;
  font-family: Lora, sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
}

.paragraph-2 {
  width: 365px;
  padding-left: 55px;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.image-2 {
  width: 430px;
  height: 270px;
  margin-right: 20px;
  padding-right: 0px;
}

.div-block-4 {
  text-align: right;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.image-3 {
  width: 15px;
  margin-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.heading-3 {
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-style: italic;
}

.heading-3.b2t {
  font-size: 16px;
}

.columns {
  margin-bottom: 100px;
}

.columns-2 {
  margin-bottom: 100px;
}

.columns-3 {
  margin-bottom: 100px;
}

.container {
  margin-top: 100px;
}

.section-3 {
  border-top: 1px solid #c4c4c4;
}

.section-3.footer.on-other-pages {
  background-color: hsla(0, 0%, 76.9%, 0.15);
}

.container-2 {
  display: block;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.columns-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  font-family: Inter, sans-serif;
  color: #858585;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.heading-5 {
  margin-top: 10px;
  font-family: Lora, sans-serif;
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}

.link {
  color: #000;
  text-decoration: none;
}

.link:hover {
  color: #858585;
  font-style: italic;
  text-decoration: line-through;
}

.link-2 {
  color: #000;
  font-style: normal;
  text-decoration: none;
}

.link-2:hover {
  color: #858585;
  font-style: italic;
  text-decoration: line-through;
}

.link-3 {
  color: #000;
  font-style: normal;
  text-decoration: none;
}

.link-3:hover {
  color: #858585;
  font-style: italic;
  text-decoration: line-through;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.column-2 {
  padding-right: 50px;
}

.column-3 {
  padding-right: 10px;
  padding-left: 50px;
}

.link-4 {
  color: #fff;
  text-decoration: none;
}

.link-5 {
  color: #000;
  text-align: center;
  text-decoration: none;
}

.navigation-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.navigation-items-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  padding: 10px 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation-item-2 {
  padding: 9px 15px;
  opacity: 0.6;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item-2:hover {
  opacity: 0.9;
}

.navigation-item-2:active {
  opacity: 0.8;
}

.navigation-item-2.w--current {
  padding-right: 15px;
  padding-left: 15px;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  color: #22262f;
  font-weight: 600;
}

.navigation-item-2.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item-2.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.heading-7 {
  font-family: 'DM Sans', sans-serif;
  color: #a8dadc;
  font-size: 36px;
  font-weight: 700;
}

.paragraph-3 {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container-3 {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 0px;
}

.grid {
  grid-template-areas: "Area Area-2" "Area-3 Area-4" "Area-5 Area-6" "Area-7 .";
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 430px;
  height: 270px;
  padding-top: 0%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 430px;
  height: 270px;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.div-block-6 {
  margin-right: 30px;
  margin-bottom: 80px;
}

.div-block-7 {
  margin-left: 30px;
}

.heading-8 {
  font-family: Lora, sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
}

.heading-9 {
  font-family: Lora, sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
}

.paragraph-4 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

.paragraph-5 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

.div-block-8 {
  margin-bottom: 40px;
}

.heading-10 {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 0px;
  font-family: Inter, sans-serif;
  color: #22262f;
  font-size: 30px;
  font-weight: 500;
}

.image-4 {
  width: 90px;
}

.div-block-9 {
  padding-bottom: 30px;
}

.grid-2 {
  margin-bottom: -40px;
  padding-bottom: 0px;
  grid-auto-flow: column;
  grid-template-areas: "Area Area-2";
}

.div-block-63 {
  padding-right: 30px;
}

.link-14 {
  font-family: 'DM Sans', sans-serif;
  color: #333;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.link-14:hover {
  color: rgba(77, 77, 77, 0.6);
  font-style: italic;
  text-decoration: line-through;
}

.link-9 {
  font-family: 'DM Sans', sans-serif;
  color: #333;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-9:hover {
  color: rgba(77, 77, 77, 0.6);
  font-style: italic;
  font-weight: 200;
  text-decoration: line-through;
}

.link-11 {
  font-family: 'DM Sans', sans-serif;
  color: #333;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-11:hover {
  color: rgba(51, 51, 51, 0.6);
  font-style: italic;
  text-decoration: line-through;
}

.div-block-26 {
  margin-bottom: 35px;
}

.heading-12 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: Lora, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
}

.container-4 {
  padding-top: 40px;
  padding-bottom: 30px;
}

.div-block-64 {
  text-align: center;
}

.container-5 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-16 {
  display: block;
  border-radius: 0px;
}

.image-16:hover {
  box-shadow: -4px 3px 15px 1px rgba(0, 0, 0, 0.15);
}

.column-4 {
  margin-bottom: 0px;
}

.paragraph-9 {
  display: block;
  width: auto;
  padding-right: 20px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: 'DM Sans', sans-serif;
  color: #333;
  font-size: 13.5px;
  font-weight: 200;
}

.link-19 {
  color: #646464;
  text-decoration: none;
}

.link-19:hover {
  color: hsla(0, 0%, 52.2%, 0.8);
  font-style: italic;
  font-weight: 400;
  text-decoration: line-through;
}

.link-20 {
  color: #646464;
  text-decoration: none;
}

.link-20:hover {
  color: hsla(0, 0%, 52.2%, 0.8);
  font-style: italic;
  font-weight: 400;
  text-decoration: line-through;
}

.container-6 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.heading-13 {
  margin-bottom: 30px;
  font-family: Lora, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
}

.paragraph-10 {
  font-family: 'DM Sans', sans-serif;
  color: #333;
  font-size: 12px;
  font-weight: 200;
}

.div-block-28 {
  padding-top: 65px;
}

.link-21 {
  font-weight: 400;
  text-decoration: none;
}

.link-21:hover {
  color: hsla(0, 0%, 52.2%, 0.8);
  font-style: italic;
  text-decoration: line-through;
}

.link-21:active {
  color: #333;
  font-style: normal;
  text-decoration: none;
}

.link-21:focus {
  color: #333;
}

.link-21:visited {
  color: #333;
}

.progress-bar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 9999;
  width: 100%;
  height: 10px;
  background-color: rgba(168, 218, 220, 0.9);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.paragraph-11 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.right-arrow-5 {
  width: 48px;
}

.image-22 {
  margin-bottom: 35px;
}

.left-arrow-3 {
  width: 55px;
}

.column-5 {
  padding-right: 0px;
}

.slider-3 {
  height: 772px;
}

.div-block-31 {
  margin-bottom: 30px;
}

.heading-16 {
  padding-top: 120px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 5px;
}

.heading-15 {
  margin-top: 0px;
  padding-right: 10px;
  font-family: 'DM Sans', sans-serif;
  color: #4d4d4d;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: right;
}

.div-block-32 {
  padding-bottom: 35px;
}

.paragraph-12 {
  padding-right: 20px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.image-17 {
  width: 1000px;
  min-width: 70%;
}

.slider-2 {
  height: 674px;
}

.left-arrow-4 {
  width: 48px;
}

.right-arrow-4 {
  width: 55px;
}

.image-19 {
  margin-top: 30px;
}

.columns-5 {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.column-6 {
  display: block;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-14 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-right: 10px;
  font-family: Lora, sans-serif;
  color: #000;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  text-align: right;
}

.nav-link-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'DM Sans', sans-serif;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 400;
}

.nav-link-4:hover {
  color: #000;
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-4:active {
  color: #000;
}

.nav-link-4.w--current {
  color: #000;
}

.container-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar {
  background-color: #fff;
}

.nav-link-3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'DM Sans', sans-serif;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 400;
}

.nav-link-3:hover {
  color: #000;
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-3.w--current {
  color: #000;
}

.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 400;
}

.nav-link:hover {
  color: #000;
}

.nav-link.footernav {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.nav-link.footernav:hover {
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-6 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'DM Sans', sans-serif;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 400;
}

.nav-link-6:hover {
  color: #000;
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-6.w--current {
  color: #000;
  font-weight: 400;
}

.nav-menu {
  margin-top: 10px;
  margin-bottom: 65px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.slider {
  display: block;
  height: 703px;
  margin-bottom: 35px;
}

.left-arrow-2 {
  width: 45px;
}

.image-18 {
  display: block;
  padding-bottom: 35px;
}

.slider-4 {
  height: 630px;
  margin-bottom: 35px;
}

.paragraph-13 {
  margin-bottom: 35px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.right-arrow-2 {
  width: 45px;
}

.video {
  margin-bottom: 35px;
}

.div-block-29 {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.html-embed {
  margin-bottom: 35px;
}

.paragraph-19 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.div-block-49 {
  padding-right: 60px;
  padding-bottom: 35px;
  padding-left: 60px;
}

.div-block-56 {
  padding-right: 60px;
  padding-left: 60px;
}

.image-31 {
  margin-top: -20px;
}

.left-arrow-5 {
  width: 30px;
}

.div-block-53 {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.div-block-57 {
  margin-top: 35px;
  text-align: center;
}

.list-item {
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.heading-18 {
  margin-bottom: 20px;
  font-family: 'DM Sans', sans-serif;
  font-size: 27px;
  font-weight: 500;
}

.paragraph-18 {
  margin-bottom: 15px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.right-arrow-6 {
  width: 40px;
}

.image-29 {
  width: auto;
}

.paragraph-15 {
  margin-bottom: 30px;
  padding-right: 60px;
  padding-left: 60px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.slider-5 {
  height: 448px;
  margin: 30px 60px 40px;
}

.div-block-48 {
  margin-bottom: 35px;
  text-align: center;
}

.div-block-59 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.div-block-60 {
  padding-bottom: 10px;
}

.image-28 {
  margin-bottom: 10px;
  text-align: center;
}

.div-block-50 {
  padding-left: 60px;
  text-align: left;
}

.link-block {
  overflow: hidden;
  width: 100%;
  padding-top: 0px;
}

.div-block-58 {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.image-27 {
  width: 70%;
}

.image-30 {
  margin-top: -10px;
  margin-bottom: 30px;
}

.list-item-6 {
  margin-bottom: 15px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.image-26 {
  width: 90%;
  margin-bottom: 15px;
  padding-right: 15px;
}

.heading-20 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'DM Sans', sans-serif;
  color: #22262f;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.div-block-61 {
  margin-top: 40px;
  margin-bottom: 60px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.image-32 {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.heading-21 {
  margin-top: 30px;
  font-family: Lora, sans-serif;
  color: hsla(0, 0%, 52.2%, 0.7);
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
}

.paragraph-22 {
  padding-right: 220px;
  padding-left: 220px;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  white-space: normal;
}

.div-block-62 {
  float: right;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  text-align: right;
}

.paragraph-21 {
  padding-right: 220px;
  padding-bottom: 25px;
  padding-left: 220px;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.link-22 {
  color: #333;
  text-decoration: none;
}

.link-22:hover {
  color: rgba(77, 77, 77, 0.7);
  font-style: italic;
  text-decoration: line-through;
}

.div-block-65 {
  height: 35px;
}

.hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-perspective: 0px;
  perspective: 0px;
}

.image-33 {
  width: 1000px;
  text-align: left;
}

.div-block-66 {
  margin-bottom: 20px;
  text-align: center;
}

.container-8 {
  margin-top: 20px;
}

.container-9 {
  margin-top: 20px;
}

.section-4 {
  margin-top: 20px;
}

.heading-22 {
  font-family: Lora, sans-serif;
  color: #a8dadc;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
}

.heading-22:hover {
  color: #858585;
  text-decoration: none;
}

.paragraph-23 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13.5px;
}

.paragraph-24 {
  margin-top: 65px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13.5px;
}

.div-block-67 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.heading-23 {
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-family: 'DM Sans', sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
}

.heading-24 {
  margin-bottom: 14px;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

.paragraph-25 {
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13.5px;
}

.div-block-68 {
  margin-bottom: 60px;
  padding-bottom: 0px;
}

.div-block-69 {
  margin-bottom: 60px;
}

.div-block-71 {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
}

.div-block-72 {
  margin-top: 30px;
  text-align: center;
}

.div-block-73 {
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  text-align: center;
}

.image-35 {
  padding: 10px 60px;
}

.image-36 {
  width: 400px;
  margin-top: 10px;
  box-shadow: -4px 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.heading-25 {
  margin-top: 5px;
  margin-bottom: 18px;
  font-family: 'DM Sans', sans-serif;
  color: hsla(0, 0%, 52.2%, 0.7);
  font-style: italic;
  font-weight: 400;
}

.column-7 {
  text-align: center;
}

.image-37 {
  display: block;
}

.columns-6 {
  margin-right: -10px;
  padding-right: 0px;
}

.column-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-74 {
  width: auto;
}

.image-38 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.link-23 {
  color: #333;
  text-decoration: none;
}

.link-23:hover {
  color: hsla(0, 0%, 52.2%, 0.8);
  font-style: italic;
  text-decoration: none;
}

.div-block-75 {
  margin-top: 0px;
  margin-bottom: 35px;
  padding-top: 10px;
  text-align: center;
}

.image-39 {
  width: 320px;
  box-shadow: -4px 4px 15px 0 rgba(0, 0, 0, 0.1);
}

.link-24 {
  color: #4d4d4d;
  text-decoration: none;
}

.link-24:hover {
  color: hsla(0, 0%, 52.2%, 0.8);
}

.link-25 {
  color: #4d4d4d;
  text-decoration: none;
}

.link-25:hover {
  color: hsla(0, 0%, 52.2%, 0.8);
}

.image-40 {
  width: 195px;
}

.list-item-7 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13.5px;
}

.list-item-8 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13.5px;
}

.list-item-9 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13.5px;
  font-weight: 400;
}

.list-item-10 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13.5px;
}

.list {
  margin-bottom: 20px;
}

.div-block-76 {
  margin-top: 30px;
  margin-bottom: 40px;
  padding-top: 0px;
  text-align: center;
}

.image-41 {
  box-shadow: -4px 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.section-5 {
  margin-bottom: -20px;
}

.paragraph-27 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13.5px;
}

.paragraph-28 {
  margin-bottom: 60px;
  font-family: Inter, sans-serif;
  font-size: 13.5px;
  font-weight: 400;
}

.link-26 {
  color: #333;
  text-decoration: none;
}

.link-26:hover {
  color: hsla(0, 0%, 52.2%, 0.8);
  font-style: italic;
  text-decoration: line-through;
}

.link-27 {
  color: #333;
  text-decoration: none;
}

.link-27:hover {
  color: hsla(0, 0%, 52.2%, 0.8);
  font-style: italic;
  text-decoration: line-through;
}

@media screen and (max-width: 991px) {
  .navigation {
    padding: 25px 30px;
  }
  .navigation-items {
    background-color: #fff;
  }
  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .navigation-wrap {
    margin-right: 0px;
  }
  .navigation-item {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .navigation-item:hover {
    background-color: #f7f8f9;
  }
  .navigation-item:active {
    background-color: #eef0f3;
  }
  .menu-button {
    padding: 0px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .menu-icon {
    display: block;
  }
  .heading-3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
  }
  .navigation-2 {
    padding: 25px 30px;
  }
  .navigation-items-2 {
    background-color: #fff;
  }
  .navigation-item-2 {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .navigation-item-2:hover {
    background-color: #f7f8f9;
  }
  .navigation-item-2:active {
    background-color: #eef0f3;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    padding: 20px 30px;
  }
  .logo-link {
    padding-left: 0px;
  }
  .navigation-2 {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 479px) {
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .navigation-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

#w-node-e60a642f1461-94ee2b60 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

.grid-2>#w-node-e60a642f1461-94ee2b60 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-b41d55427ced-94ee2b60 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Area-3;
}

#w-node-1829e85b3b76-94ee2b60 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Area-5;
}

#w-node-c82dcb77c0cb-94ee2b60 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: Area-6;
}

#w-node-429c2d55d72d-94ee2b60 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Area-7;
}

#w-node-13b5ad4652cb-ea25137c {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

.grid-2>#w-node-13b5ad4652cb-ea25137c {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-13b5ad4652e0-ea25137c {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Area-2;
}

.grid-2>#w-node-13b5ad4652e0-ea25137c {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

#w-node-2cbe64f2b74d-ea25137c {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

.grid-2>#w-node-2cbe64f2b74d-ea25137c {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#w-node-2cbe64f2b754-ea25137c {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Area-2;
}

.grid-2>#w-node-2cbe64f2b754-ea25137c {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

@media screen and (max-width: 767px) {
  #w-node-0332cbd18724-94ee2b60 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-0332cbd18726-94ee2b60 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-ae731d6ce944-94ee2b60 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-ae731d6ce946-94ee2b60 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-c82dcb77c0ce-94ee2b60 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-c82dcb77c0d0-94ee2b60 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-13b5ad4652e3-ea25137c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-13b5ad4652e5-ea25137c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-2cbe64f2b757-ea25137c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-2cbe64f2b759-ea25137c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-e60a642f1461-94ee2b60 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-0332cbd18721-94ee2b60 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-b41d55427ced-94ee2b60 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-ae731d6ce941-94ee2b60 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-1829e85b3b76-94ee2b60 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-c82dcb77c0cb-94ee2b60 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-429c2d55d72d-94ee2b60 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-13b5ad4652cb-ea25137c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-13b5ad4652e0-ea25137c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-2cbe64f2b74d-ea25137c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-2cbe64f2b754-ea25137c {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBoldItalic.otf') format('opentype'), url('../fonts/Inter-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.otf') format('opentype'), url('../fonts/Inter-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Inter v';
  src: url('../fonts/Inter-V.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}