.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.navigation.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: hsla(0, 0%, 100%, 0.4);
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.navigation-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-item {
  padding: 9px 15px;
  opacity: 0.6;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  padding-right: 15px;
  padding-left: 15px;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block.film {
  width: 1000px;
  margin-top: 10px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.div-block.featured-work {
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.heading-2 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: linotype-didot, sans-serif;
  font-size: 35px;
  font-weight: 400;
  text-align: left;
}

.div-block-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-5 {
  display: block;
  width: 645px;
  max-width: 100%;
  padding-left: 40px;
}

.image-5.line {
  width: 700px;
}

.flexibile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-6 {
  display: block;
  margin-top: 40px;
  padding-top: 0px;
}

.heading-4 {
  margin-top: 80px;
  font-family: linotype-didot, sans-serif;
  color: #000;
  font-size: 42px;
  font-weight: 400;
}

.paragraph-3 {
  font-family: Inter, sans-serif;
  color: #636363;
  font-size: 18px;
  line-height: 22px;
  font-weight: 200;
}

.paragraph-4 {
  display: block;
  padding-bottom: 5px;
  padding-left: 20px;
  float: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 0px;
  font-family: Inter, sans-serif;
  color: #858585;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 275px;
  height: 45px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #000;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.button:hover {
  border: 1.5px solid #000;
  background-color: #fff;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
  color: #000;
}

.div-block-5 {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}

.link-2 {
  font-family: Inter, sans-serif;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.link-2:hover {
  color: #9b9b9b;
}

.image-7 {
  width: 180px;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 10px;
}

.image-8 {
  width: 180px;
  padding-right: 0px;
  border-radius: 10px;
}

.image-9 {
  width: 184px;
  padding-right: 0px;
  border-radius: 10px;
}

.image-10 {
  width: 180px;
  padding-right: 0px;
  border-radius: 10px;
}

.intro {
  padding-top: 40px;
  padding-bottom: 50px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.feature-image-mask-2 {
  width: 92%;
  margin-right: 0px;
  padding-left: 50px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.feature-image-2 {
  display: inline-block;
  width: 520px;
  height: 100%;
  padding-left: 0px;
  border-radius: 20px;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.25);
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-6 {
  font-family: adobe-garamond-pro, sans-serif;
  font-weight: 400;
  text-align: left;
}

.paragraph-5 {
  padding-right: 0px;
  padding-bottom: 5px;
  font-family: Inter, sans-serif;
  color: #858585;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
}

.heading-7 {
  position: static;
  padding-left: 20px;
  font-family: adobe-garamond-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.section {
  margin-bottom: 100px;
}

.experience-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100px;
  padding-top: 320px;
  border-radius: 20px;
  box-shadow: 0 6px 15px 2px rgba(0, 0, 0, 0.1);
}

.grid-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 320px;
  max-width: none;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.image-11 {
  width: 75px;
  height: 5px;
}

.div-block-6 {
  display: block;
  margin-top: 50px;
  padding-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-8 {
  margin-top: 10px;
  font-family: linotype-didot, sans-serif;
  font-weight: 400;
}

.paragraph-6 {
  height: 40px;
  margin-bottom: 0px;
  padding-top: 10px;
  font-family: Inter, sans-serif;
  color: #646464;
  font-size: 18px;
  font-weight: 200;
}

.grid {
  margin-top: 30px;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: end;
  grid-template-areas: "Area Area-2";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-9 {
  margin-top: 40px;
  font-family: adobe-garamond-pro, sans-serif;
  color: #000;
  font-size: 27px;
  font-weight: 400;
}

.heading-10 {
  margin-top: 40px;
  font-family: adobe-garamond-pro, sans-serif;
  color: #000;
  font-size: 27px;
  font-weight: 400;
}

.paragraph-7 {
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #858585;
  font-size: 13px;
  font-weight: 200;
}

.paragraph-8 {
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #858585;
  font-size: 13px;
  font-weight: 200;
}

.feature-image-mask-3 {
  width: 150%;
  margin-right: 40px;
}

.feature-image-3 {
  width: 520px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.15);
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.feature-image-mask-4 {
  width: 150%;
  margin-right: 40px;
}

.feature-image-4 {
  width: 520px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.25);
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.div-block-7 {
  width: 1200px;
  padding-right: 60px;
  padding-bottom: 20px;
}

.div-block-8 {
  width: 750px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 30px;
}

.div-block-9 {
  width: 1200px;
  padding-right: 60px;
  padding-bottom: 20px;
}

.container-2 {
  padding-top: 20px;
}

.image-12 {
  width: 185px;
  border-radius: 10px;
}

.link-3 {
  padding-left: 20px;
  font-family: Inter, sans-serif;
  color: #000;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.link-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: Inter, sans-serif;
  color: #000;
  font-style: italic;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
}

.link-5 {
  padding-left: 20px;
  font-family: Inter, sans-serif;
  color: #000;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
}

.div-block-10 {
  padding-right: 20px;
}

.div-block-11 {
  padding-right: 20px;
}

.div-block-12 {
  padding-right: 20px;
}

.div-block-13 {
  padding-right: 20px;
}

.div-block-14 {
  padding-left: 25px;
}

.div-block-15 {
  margin-right: 0px;
  margin-bottom: 60px;
  padding-right: 25px;
}

.container-3 {
  margin-bottom: 0px;
  padding-bottom: 20px;
  line-height: 0px;
}

.div-block-18 {
  margin-bottom: 60px;
  padding-right: 25px;
}

.div-block-19 {
  padding-left: 25px;
}

.div-block-20 {
  margin-bottom: 60px;
  padding-right: 25px;
}

.div-block-21 {
  margin-bottom: 0px;
  padding-right: 25px;
  padding-bottom: 60px;
  padding-left: 0px;
}

.div-block-22 {
  margin-bottom: 80px;
  padding-right: 0px;
  padding-left: 25px;
}

.div-block-23 {
  padding-bottom: 60px;
  padding-left: 25px;
}

.link-6 {
  position: static;
  font-family: Inter, sans-serif;
  color: #000;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
}

.link-6:hover {
  color: #8d8d8d;
}

.image-13 {
  width: 800px;
  padding-left: 40px;
}

.heading-11 {
  font-family: linotype-didot, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.image-14 {
  width: 910px;
  padding-left: 40px;
}

.image-15 {
  width: 835px;
  padding-left: 20px;
}

.div-block-24 {
  width: 900px;
}

.heading-12 {
  margin-bottom: 15px;
  font-family: adobe-garamond-pro, sans-serif;
  font-weight: 400;
}

.link-7 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-7:hover {
  color: rgba(77, 77, 77, 0.6);
}

.link-8 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-8:hover {
  color: rgba(77, 77, 77, 0.6);
}

.link-9 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-9:hover {
  color: rgba(77, 77, 77, 0.6);
  font-weight: 200;
}

.link-10 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-10:hover {
  color: rgba(77, 77, 77, 0.6);
}

.link-11 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-11:hover {
  color: rgba(51, 51, 51, 0.6);
}

.link-12 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-12:hover {
  color: rgba(77, 77, 77, 0.6);
}

.link-13 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-13:hover {
  color: rgba(77, 77, 77, 0.6);
}

.link-14 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-14:hover {
  color: rgba(77, 77, 77, 0.6);
}

.link-15 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-15:hover {
  color: rgba(77, 77, 77, 0.6);
}

.div-block-26 {
  margin-bottom: 35px;
}

.link-16 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-16:hover {
  color: rgba(77, 77, 77, 0.6);
}

.link-17 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}

.link-17:hover {
  color: rgba(77, 77, 77, 0.6);
}

.paragraph-9 {
  display: block;
  width: auto;
  padding-right: 20px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: Inter, sans-serif;
  color: #646464;
  font-size: 13.5px;
  font-weight: 200;
}

.image-16 {
  display: block;
  border-radius: 20px;
}

.image-16:hover {
  box-shadow: -4px 3px 15px 1px rgba(0, 0, 0, 0.15);
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link-18 {
  color: #646464;
  text-decoration: none;
}

.link-18:hover {
  color: #222;
  font-weight: 600;
}

.heading-13 {
  font-family: adobe-garamond-pro, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.container-4 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.link-19 {
  color: #646464;
  text-decoration: none;
}

.link-19:hover {
  color: #1b1b1b;
  font-weight: 600;
}

.paragraph-10 {
  font-family: Inter, sans-serif;
  color: #646464;
  font-size: 12px;
  font-weight: 200;
}

.div-block-28 {
  padding-top: 44px;
}

.container-5 {
  margin-top: 15px;
}

.image-17 {
  width: 1000px;
}

.heading-14 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-right: 10px;
  font-family: adobe-garamond-pro, sans-serif;
  color: #000;
  font-size: 32px;
  font-weight: 400;
  text-align: right;
}

.heading-15 {
  margin-top: 0px;
  padding-right: 10px;
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: right;
}

.link {
  color: #646464;
  text-decoration: none;
}

.link:hover {
  color: #2b2b2b;
  font-weight: 600;
  text-decoration: none;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar {
  background-color: #fff;
}

.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: azo-sans-web, sans-serif;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 400;
}

.nav-link:hover {
  color: #000;
}

.image-18 {
  display: block;
  padding-bottom: 35px;
}

.div-block-29 {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider {
  display: block;
  height: 703px;
  margin-bottom: 35px;
}

.mask {
  position: relative;
  height: 674px;
}

.div-block-30 {
  height: 674px;
}

.slide {
  height: auto;
}

.slide-nav {
  position: absolute;
  left: 0%;
  top: 1010px;
  right: 0%;
  bottom: 0%;
}

.right-arrow {
  position: absolute;
  left: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-2 {
  height: 674px;
}

.slider-3 {
  height: 772px;
}

.progress-bar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 9999;
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.div-block-31 {
  margin-bottom: 30px;
}

.image-19 {
  margin-top: 30px;
}

.column {
  display: block;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph-11 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.heading-16 {
  padding-top: 120px;
  font-family: azo-sans-web, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
}

.paragraph-12 {
  padding-right: 20px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.column-2 {
  padding-right: 0px;
}

.columns {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.div-block-32 {
  padding-bottom: 35px;
}

.div-block-33 {
  margin-bottom: 35px;
}

.div-block-34 {
  margin-bottom: 35px;
}

.div-block-35 {
  margin-bottom: 35px;
}

.div-block-36 {
  margin-bottom: 35px;
}

.div-block-37 {
  margin-bottom: 35px;
}

.div-block-38 {
  margin-bottom: 35px;
}

.image-20 {
  margin-bottom: 35px;
}

.image-21 {
  margin-bottom: 35px;
}

.image-22 {
  margin-bottom: 35px;
}

.div-block-39 {
  margin-bottom: 35px;
}

.div-block-40 {
  margin-bottom: 35px;
}

.div-block-41 {
  margin-bottom: 35px;
}

.div-block-42 {
  margin-bottom: 35px;
}

.div-block-43 {
  margin-bottom: 35px;
}

.div-block-44 {
  margin-bottom: 35px;
}

.div-block-45 {
  margin-bottom: 35px;
}

.nav-link-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: azo-sans-web, sans-serif;
  color: #d1d1d1;
  font-size: 18px;
}

.nav-link-2:hover {
  color: #000;
}

.nav-link-3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: azo-sans-web, sans-serif;
  color: #d1d1d1;
  font-size: 18px;
}

.nav-link-3:hover {
  color: #000;
}

.nav-link-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: azo-sans-web, sans-serif;
  color: #d1d1d1;
  font-size: 18px;
}

.nav-link-4:hover {
  color: #000;
}

.nav-link-4:active {
  color: #000;
}

.nav-link-5 {
  top: auto;
  font-family: azo-sans-web, sans-serif;
  font-size: 18px;
}

.nav-link-5.w--current {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: azo-sans-web, sans-serif;
  color: #000;
  font-size: 18px;
}

.nav-link-5.w--current:hover {
  color: #000;
}

.nav-link-6 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: azo-sans-web, sans-serif;
  color: #d1d1d1;
  font-size: 18px;
}

.nav-link-6:hover {
  color: #000;
}

.nav-link-6.w--current {
  color: #000;
}

.nav-link-7 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: azo-sans-web, sans-serif;
  color: #d1d1d1;
  font-size: 18px;
}

.nav-link-7:hover {
  color: #000;
}

.nav-link-7.w--current {
  color: #000;
}

.nav-link-8 {
  font-family: azo-sans-web, sans-serif;
  font-size: 18px;
}

.nav-link-9 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: azo-sans-web, sans-serif;
}

.nav-menu {
  margin-top: 0px;
  margin-bottom: 70px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.paragraph-13 {
  margin-bottom: 35px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.html-embed {
  margin-bottom: 35px;
}

.div-block-46 {
  padding-bottom: 35px;
}

.video {
  margin-bottom: 35px;
}

.slider-4 {
  height: 630px;
  margin-bottom: 35px;
}

.right-arrow-2 {
  width: 45px;
}

.left-arrow {
  width: 45px;
}

.left-arrow-2 {
  width: 45px;
}

.right-arrow-3 {
  width: 45px;
}

.left-arrow-3 {
  width: 55px;
}

.right-arrow-4 {
  width: 55px;
}

.right-arrow-5 {
  width: 48px;
}

.left-arrow-4 {
  width: 48px;
}

.heading-17 {
  font-family: adobe-garamond-pro, sans-serif;
  color: #000;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.paragraph-14 {
  padding-right: 160px;
  padding-left: 160px;
}

.div-block-47 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-23 {
  height: 300px;
}

.image-24 {
  height: 300px;
}

.paragraph-15 {
  margin-bottom: 30px;
  padding-right: 60px;
  padding-left: 60px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.div-block-48 {
  margin-bottom: 35px;
  text-align: center;
}

.image-25 {
  width: 1000px;
}

.div-block-49 {
  padding-right: 60px;
  padding-bottom: 35px;
  padding-left: 60px;
}

.paragraph-16 {
  margin-bottom: 15px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.list-item {
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.list-item-2 {
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.heading-18 {
  margin-bottom: 20px;
  font-family: 'Inter v', sans-serif;
  font-size: 27px;
  font-weight: 400;
}

.list-item-3 {
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.list-item-4 {
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.list-item-5 {
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.list-item-6 {
  margin-bottom: 15px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.paragraph-17 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.div-block-50 {
  padding-left: 60px;
  text-align: left;
}

.paragraph-18 {
  margin-bottom: 15px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.div-block-51 {
  text-align: center;
}

.image-26 {
  width: 90%;
  margin-bottom: 15px;
  padding-right: 15px;
}

.div-block-52 {
  padding-right: 60px;
  padding-left: 60px;
}

.paragraph-19 {
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.image-27 {
  width: 70%;
}

.div-block-53 {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.paragraph-20 {
  margin-bottom: 15px;
  font-family: Inter, sans-serif;
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 300;
}

.image-28 {
  margin-bottom: 10px;
  text-align: center;
}

.div-block-54 {
  text-align: center;
}

.div-block-55 {
  padding-right: 60px;
  padding-left: 60px;
}

.slider-5 {
  height: 448px;
  margin: 30px 60px 40px;
}

.left-arrow-5 {
  width: 30px;
}

.right-arrow-6 {
  width: 40px;
}

.div-block-56 {
  padding-right: 60px;
  padding-left: 60px;
}

.link-block {
  overflow: hidden;
  width: 100%;
  padding-top: 0px;
}

.image-29 {
  width: auto;
}

.div-block-57 {
  margin-top: 35px;
  text-align: center;
}

.div-block-58 {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.image-30 {
  margin-top: -20px;
  margin-bottom: 30px;
}

.div-block-59 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.div-block-60 {
  padding-bottom: 10px;
}

.image-31 {
  margin-top: -20px;
}

@media screen and (max-width: 991px) {
  .navigation {
    padding: 25px 30px;
  }
  .navigation-items {
    background-color: #fff;
  }
  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .navigation-wrap {
    margin-right: 0px;
  }
  .navigation-item {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .navigation-item:hover {
    background-color: #f7f8f9;
  }
  .navigation-item:active {
    background-color: #eef0f3;
  }
  .menu-button {
    padding: 0px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .menu-icon {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    padding: 20px 30px;
  }
  .logo-link {
    padding-left: 0px;
  }
  .flexibile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .intro {
    padding: 40px 20px;
  }
  .feature-image-mask-2 {
    margin-right: 0px;
  }
  .feature-image-2 {
    margin-right: auto;
    margin-left: auto;
  }
  .feature-image-mask-3 {
    margin-right: 0px;
  }
  .feature-image-3 {
    margin-right: auto;
    margin-left: auto;
  }
  .feature-image-mask-4 {
    margin-right: 0px;
  }
  .feature-image-4 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

#w-node-c7f52e655fed-3925cbd0 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

#w-node-044e53babbee-01a1cd2d {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

#w-node-bc9efc3c55b9-01a1cd2d {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-BoldItalic.otf') format('opentype'), url('../fonts/Inter-ExtraBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBold.otf') format('opentype'), url('../fonts/Inter-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Inter v';
  src: url('../fonts/Inter-V.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}